.container {
  font-size: 16px;
  padding: 1rem;
}


@media (min-width: 768px) {

  .heroSection.phones{
    display: none;
  }

  .HeroSection{
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    background-color: rgba(0, 43, 91, 0.3);
    display: flex;

  }

  .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.carousel.slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.carousel-slide {
  position: relative;
  width: 100%;
}



.Hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #002B5B;
  text-align: left;
  background: rgba(217, 217, 217, 0.48); /* Semi-transparent background for readability */
  padding: 40px 20px;
  max-width: 30%;
  border-radius: 5px;
}

.Hero-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.Hero-text p {
  font-size: 16px;
  margin-bottom: 15px;
}

.Hero-text button {
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #002B5B;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 15px;
}

}