.container {
  font-size: 16px;
  padding: 1rem;
}


@media (min-width: 768px) {

  .heroSection.phones{
    display: none;
  }

  section{
    width: 100%;
    /* width: 100vw; */
    overflow: hidden;
    padding: 5px 0;
  }

  .carousel {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}


.carousel .slide img {
  /* object-fit: cover;  */
  /* align-self: flex-start;  */
}


.heroSection {
  position: relative;
  width: 100%;
}

/* .heroSection img {
  width: 100%;
  height: 100%;
  width: auto;
  object-fit: cover;
} */

.Hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #002B5B;
  text-align: left;
  background: rgba(217, 217, 217, 0.48); /* Semi-transparent background for readability */
  padding: 40px 20px;
  max-width: 30%;
  border-radius: 5px;
}

.Hero-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.Hero-text p {
  font-size: 16px;
  margin-bottom: 15px;
}

.Hero-text button {
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #002B5B;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 15px;
}

}