.Card{
  background-color: aliceblue;
  height: 450px;
  color: black;
  border-radius: 16px;
}

.image{
  border-radius: 16px;
  color: antiquewhite;
}

.card-text{
  display: flex-start;
  justify-items: center;
}

.card-text h3{
  font-weight: 800;
}

.card-text p{
  font-size: 14px;
}